.about-container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 70vh;
  }
  
  .about-content {
    max-width: 700px;
    padding: 20px;
    margin-left: 130px;
  }
  
  .about-title {
    font-size: 3em;
    font-weight: bold;
  }
  
  .about-description {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .divider {
    margin: 20px 0;
  }
  
  .about-details {
    margin-top: 15px;
    font-size: 1.1em;
  }
  
.image-container {
    /* flex: 1;
    text-align: center;
    margin-left: 3px;
    margin-top : 7px;
    overflow: hidden; */
    position: relative;
  overflow: hidden;
  margin-left: 3px;
  /* margin-top: 1px; */
  }
  
  .about-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out;
  }
  .try-now-button {
    margin-top: 15px;
    font-size: 3em;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(7, 87, 38); /* Adjust the color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .try-now-button:hover {
    background-color: rgb(6, 198, 79); /* Adjust the hover color as needed */
  }